body {
  background-image: url(/background-image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  background-color: rgba(86, 243, 13, 0.76);
}

.nav-link {
  font-weight: bold;
  color: red;
}

.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
  padding: 0.6em;
  margin-bottom: 1em;
}

.card-img-top {
  height: 300px;
}
.card-text {
  text-indent: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(68, 56, 33);
}

.card {
  background-color: rgba(86, 243, 13, 0.76);
  height: 100%;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}

.card:hover {
  background-color: rgba(10, 184, 253, 0.76);
}

.card img {
  border-radius: 50%;
  width: 90%;
  margin: auto;
}
.card-title {
  font-weight: bold;
  color: rgb(0, 17, 255);
}

.btn {
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(8, 252, 0, 0.644);
}

.hr {
  display: inline;
  margin: 0 15px;
}
